<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-r" role="menuitem"><a href="{{site.baseurl}}tag/r/">R</a></li>
    <li class="nav-python" role="menuitem"><a href="{{site.baseurl}}tag/python/">Python</a></li>
    <li class="nav-statistics" role="menuitem"><a href="{{site.baseurl}}tag/statistics/">Statistics</a></li>
    <li class="nav-baekjoon" role="menuitem"><a href="{{site.baseurl}}tag/baekjoon/">Baekjoon</a></li>

    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
</ul>